<div class="hide" id="decklistOpened">
  <div id="decklistWrapper">
    <h2 class="decklist-title">Buy a Deck</h2>
    <a id="decklist-close-button" style="position: absolute; left: 14px;">X</a>
    <div id="deckListBody"></div>
    <div id="decklistAction">
      <button aria-label="Submit deck list" title="Submit deck list">Submit deck list</button>
    </div>
    <div class="hidden" id="savedLoader">
      <div class="custom-loader">
        <div class="dice">
          <div class="face first-face"><img loading="lazy" src="{{'loader1.jpg' | asset_url }}" class="card-img-loader first" alt="Loader Card 1"></div>
          <div class="face first-face"><img loading="lazy" src="{{'loader2.jpg' | asset_url }}" class="card-img-loader second" alt="Loader Card 2"></div>
          <div class="face first-face"><img loading="lazy" src="{{'loader3.jpg' | asset_url }}" class="card-img-loader third" alt="Loader Card 3"></div>
          <div class="face first-face"><img loading="lazy" src="{{'loader4.jpg' | asset_url }}" class="card-img-loader fourth" alt="Loader Card 4"></div>
          <div class="face first-face"><img loading="lazy" src="{{'loader5.jpg' | asset_url }}" class="card-img-loader fifth" alt="Loader Card 5"></div>
        </div>
        <p>Searching... Please wait</p>
      </div>
    </div>
  </div>
</div>